.container {
	width: 1920px;
	display: grid;
	justify-content: center;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: repeat(6, auto);
	align-items: center;
	gap: 50px;
}

.header {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	color: #486989;
	grid-row: 1 / 2;
	grid-column: 4 / 6;
	margin-top: 100px;
}

select {
	background-image: url('./../assets/images/arrow.png');
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 17px;
}
